global:
  scrape_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'test_node_exporter'
    static_configs:
      - targets: ['{{ test_application_ip }}:9100']
        labels:
          env: 'test'
          type: 'node_exporter'

  - job_name: 'test_application'
    static_configs:
      - targets: ['{{ test_application_ip }}:8080']
        labels: 
          env: 'test'
          type: 'application'

  - job_name: 'prod_node_exporter'
    static_configs:
      - targets: ['{{ prod_application_ip }}:9100']
        labels:
          env: 'prod'
          type: 'node_exporter'

  - job_name: 'prod_application'
    static_configs:
      - targets: ['{{ prod_application_ip }}:8080']
        labels: 
          env: 'prod'
          type: 'application'   
